# Standard composer ignored paths
composer.phar
/vendor/
/composer.lock

# Standard IDEs ignored paths
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.buildpath
.idea/
