<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Smile_CustomEntity::attributes" title="Manage Custom Entities" sortOrder="100" >
                        <resource id="Smile_CustomEntity::entities" title="Entities" sortOrder="10" />
                        <resource id="Smile_CustomEntity::attributes_set" title="Custom Entities Attribute Set" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_attributes">
                        <resource id="Smile_CustomEntity::attributes_attributes" title="Custom Entities" sortOrder="100" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
