<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <validator_data>
                <input_types>
                    <smile_custom_entity>smile_custom_entity</smile_custom_entity>
                </input_types>
            </validator_data>
        </general>
        <sitemap>
            <smile_custom_entity>
                <include_in_sitemap>0</include_in_sitemap>
                <include_image>0</include_image>
                <changefreq>daily</changefreq>
                <priority>0.5</priority>
            </smile_custom_entity>
        </sitemap>
    </default>
</config>
