<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Smile\CustomEntity\Ui\Component\Entity\Edit\Button\Save" type="Smile\ScopedEav\Ui\Component\Entity\Edit\Button\Save">
        <arguments>
            <argument name="formName" xsi:type="string">custom_entity_entity_form.custom_entity_entity_form</argument>
        </arguments>
    </virtualType>

    <virtualType name="Smile\CustomEntity\Ui\DataProvider\CustomEntity\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="eav" xsi:type="array">
                    <item name="class" xsi:type="string">Smile\ScopedEav\Ui\DataProvider\Entity\Form\Modifier\Eav</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="attribute_set_id" xsi:type="array">
                    <item name="class" xsi:type="string">Smile\CustomEntity\Ui\DataProvider\CustomEntity\Form\Modifier\AttributeSet</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="system" xsi:type="array">
                    <item name="class" xsi:type="string">Smile\ScopedEav\Ui\DataProvider\Entity\Form\Modifier\System</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="custom_entity_attribute" xsi:type="array">
                    <item name="class" xsi:type="string">Smile\CustomEntity\Ui\DataProvider\CustomEntity\Form\Modifier\CustomEntityAttribute</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Smile\CustomEntity\Ui\DataProvider\CustomEntity\Form\CustomEntityDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">Smile\CustomEntity\Ui\DataProvider\CustomEntity\Form\Modifier\Pool</argument>
        </arguments>
    </type>

    <type name="Smile\CustomEntity\Ui\DataProvider\CustomEntity\Listing\CustomEntityDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="store_id" xsi:type="object">Smile\CustomEntity\Ui\DataProvider\CustomEntity\Listing\AddStoreFieldToCollection</item>
            </argument>
        </arguments>
    </type>

    <type name="Smile\CustomEntity\Controller\Adminhtml\Entity\Index">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Smile\CustomEntity\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>

    <type name="Smile\CustomEntity\Controller\Adminhtml\Entity\NewAction">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Smile\CustomEntity\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>

    <type name="Smile\CustomEntity\Controller\Adminhtml\Entity\Edit">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Smile\CustomEntity\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>

    <type name="Smile\CustomEntity\Controller\Adminhtml\Entity\Delete">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Smile\CustomEntity\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>

    <type name="Smile\CustomEntity\Controller\Adminhtml\Entity\Reload">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Smile\CustomEntity\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>
    <type name="Smile\CustomEntity\Controller\Adminhtml\Entity\Save">
        <arguments>
            <argument name="entityBuilder" xsi:type="object">Smile\CustomEntity\Controller\Adminhtml\Entity\Builder</argument>
        </arguments>
    </type>
    <type name="Magento\Ui\DataProvider\Mapper\FormElement">
        <arguments>
            <argument name="mappings" xsi:type="array">
                <item name="smile_custom_entity" xsi:type="string">input</item>
                <item name="smile_custom_entity_select" xsi:type="string">input</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Smile\CustomEntity\Model\Adminhtml\System\Config\Source\Inputtype" type="Smile\ScopedEav\Model\Adminhtml\System\Config\Source\Inputtype">
        <arguments>
            <argument name="optionsArray" xsi:type="array">
                <item name="900" xsi:type="array">
                    <item name="value" xsi:type="string">smile_custom_entity_select</item>
                    <item name="label" xsi:type="string" translate="true">Сustom entity</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Smile\CustomEntity\Model\Adminhtml\System\Config\Source\InputtypeFactory" type="Smile\ScopedEav\Model\Adminhtml\System\Config\Source\InputtypeFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Smile\CustomEntity\Model\Adminhtml\System\Config\Source\Inputtype</argument>
        </arguments>
    </virtualType>
    <type name="Smile\CustomEntity\Block\Adminhtml\Attribute\Edit\Tab\Main">
        <arguments>
            <argument name="inputTypeFactory" xsi:type="object">Smile\CustomEntity\Model\Adminhtml\System\Config\Source\InputtypeFactory</argument>
        </arguments>
    </type>
</config>
