<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="custom_entity" frontName="custom_entity">
            <module name="Smile_CustomEntity" before="Magento_Backend" />
        </route>
    </router>
</config>
