<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sitemap">
            <group id="smile_custom_entity" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Smile Custom Entity Options</label>
                <field id="include_in_sitemap" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Custom Entity into Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="entity_types" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Entity types</label>
                    <source_model>Smile\CustomEntity\Model\CustomEntity\AttributeSet\Options</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment>Select entity types to include into Sitemap</comment>
                </field>
                <field id="include_image" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Images into Sitemap</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="changefreq" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frequency</label>
                    <source_model>Magento\Sitemap\Model\Config\Source\Frequency</source_model>
                </field>
                <field id="priority" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Priority</label>
                    <backend_model>Magento\Sitemap\Model\Config\Backend\Priority</backend_model>
                    <comment>Valid values range from 0.0 to 1.0.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
